<div class="post-form">  
  <%= form_for @user, url: {action: "create"} do | f | %>
  <h1>Creating My Profile</h1>

    <div class="field" id="post-field">
      <%#= f.label :bio %>
      <%= f.text_field :bio, placeholder: "Let your followers know more about you ...", class: "post-content" %>    
    </div>

    <div class="field" id="post-field"> 
      <%= f.label :image, "Add your photo here" %>   
      <%= f.file_field :image, class: "image-content" %>    
    </div>

    <%= f.submit "Update Profile", class: "btn btn-dark" %>
    <%= link_to 'Cancel', :back, class: "bnt btn-light" %>

  <% end %>

</div>