<div class="notifications">

 <% if notification.actor == current_user %>

    <%#= link_to notification.actor.username, main_app.profile_path(notification.actor) %> 
    <p>
       you commented on your own post:  
      <%= link_to notification.second_target.content, main_app.post_path(notification.user, notification.second_target) %>  
      saying "
      <%= notification.target.content %>"
    </p>
    
    <% else %> 
    
    <p>
       <%= link_to notification.actor.username, main_app.profile_path(notification.actor) %>
      has commented on:    
      <%= link_to notification.second_target.content, main_app.post_path(notification.user, notification.second_target) %>  
      saying "
      <%= notification.target.content %>"
   </p>

    <% end %>

 </div>