<!-- navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><%= link_to "Public Feed", feed_index_path, class: "btn btn-dark" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <% if user_signed_in? %>    
          
          <a class="nav-link"><%= link_to "Post Text", new_text_post_path, class: "btn btn-dark" %></a>
          <a class="nav-link"><%= link_to "Post Picture", new_image_post_path, class: "btn btn-dark" %></a>
          <a class="nav-link"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-dark" %></a>
          <a class="nav-link"><%= link_to "The Social Feed", root_path, class: "btn btn-success" %></a>
          <a class="nav-link"><%= link_to "#{current_user.username}", profile_path(current_user.username), class: "btn btn-dark" %> </a>


          <%= form_tag(profiles_index_path, method: :get) do %>
          <%= text_field_tag :term, params[:term] %>
          <%= submit_tag 'Search' %>
        <% end %>

        <% else %>

          <a class="nav-link"><%= link_to "Login", new_user_session_path, class: "btn btn-dark" %></a>
          <a class="nav-link"><%= link_to "Create Account", new_user_registration_path, class: "btn btn-dark" %></a>

        

        <% end %>
      </div>
    </div>
  </div>
</nav>
