<%= form_for @post do | f | %>


  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control" %>    
  </div>



  <div class="form-group"> 
    <%= f.label :images %>   
    <%= f.file_field :images, multiple: true %>    
  </div>






  <%= f.submit class: "btn btn-primary" %>
  <%= link_to 'Cancel', :back, class: "bnt btn-primary" %>

<% end %>
