<div class="page-header">
  <h4>Post</h4>


  <ul>
    <li><%= @post.content %></li>
    <li><%= @post.user.username %></li>  

    <%# if @post.images.attached?.each do |image| %>
      <li><%#= image_tag @post.image %></li>  

    <% #end %>
    
    <%= button_to like_post_path(@post), method: :put  do %>
     <li><i class="fa-solid fa-heart"></i> <%= @post.get_upvotes.size %></li> 
      
      <% end %>

    </li>
    <%= button_to dislike_post_path(@post), method: :put do %>
      <li><i class="fa-solid fa-heart-crack"></i> <%= @post.get_downvotes.size %></li>
      
      <% end %>  
    
  </ul>



  <%# if !current_user.voted_up_on? @post %>
  <%#= link_to "LIKE #{@post.get_upvotes.size}", like_post_path(@post) %>
<%# else %>
  <%#= link_to "LIKE #{@post.get_upvotes.size}", like_post_path(@post), method: :put, class: "btn btn-outline-dark" %>
<%# end %>

<%# if current_user.voted_down_on? @post %>
  <%#= link_to "DISLIKE #{@post.get_downvotes.size}", dislike_post_path(@post), method: :put, class: "btn btn-outline-danger" %>
<%# else %>
  <%#= link_to "DISLIKE #{@post.get_downvotes.size}", dislike_post_path(@post), method: :put, class: "btn btn-outline-dark" %>
<%# end %>
  

  <% if @post.user == current_user %>
  <%= link_to "Edit", main_app.edit_post_path(@post), class: "btn btn-default" %>
  <%= link_to "Remove Post", main_app.post_path(@post), method: :delete,
    data: { confirm: "Are you sure you want to remove this post?" }, class: "btn btn-default" %>
<% end %>


  <h3>Comments</h3>

  <%# cache [@post, 'comments', @moderate] do %>
    <%= render @post.comments %>

    


  <%# end %>
  <!-- form to create comment -->

  <h4>New Comment</h4>

  <%= form_for @post.comments.build do | f | %>

    <div class="form-group">
      <%= f.label :content %><br />
      <%= f.text_area :content, class: "form-control", required: true  %>
    </div>

    <%= f.hidden_field :post_id %>
    <%= f.submit class: "btn btn-primary" %>

  <% end %>

</div>

<%= link_to "Home", posts_path, class: "btn btn-default" %>