<div class="page-header">
  <h1>Post</h1>


  <%= render @post %>

  <h3>Comments</h3>
  <%= render @post.comments %>

  <!-- form to create comment -->

  <h4>New Comment</h4>

  <%= form_for @post.comments.build do | f | %>

    <div class="form-group">
      <%= f.label :content %><br />
      <%= f.text_area :content, class: "form-control" %>
    </div>

    <%= f.hidden_field :post_id %>
    <%= f.submit class: "btn btn-primary" %>

  <% end %>

</div>

<%= link_to "Home", posts_path, class: "btn btn-default" %>